.instagram-images {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.instagram-images img {
    width: 100%;
    height: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

@media screen and (max-width: 500px) {
    .instagram-images {
        margin-top: 0;
        flex-direction: column;
    }
}